# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* Pyton
* SQL
* R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java
7. GO

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Sci-kit learn
6. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Emre YÄ±lmazer